<div class="w-84.75 flex flex-col justify-center items-center gap-y-5 px-4
            md:w-120 md:items-start md:justify-start md:gap-y-15 shrink-0"
    >
    <p class="text-preset-1 text-center md:text-left">
        Enchanté ! Je m'appelle
        <span class="underline decoration-green">
            Elsa Dommoe Sifoua
        </span>
    </p>
    <p class="text-preset-4 text-center text-grey md:text-left">
        Développeuse Full Stack (C#/.NET & React) diplômée d'un cursus ingénieur, je conçois des applications robustes
        de la base de données à l'interface utilisateur en passant par la conception et l'intégration des APIs REST.
    </p>
    <include src="./components/linkContact.html"></include>
</div>