<div id="contact-section" class="w-full xl:overflow-x-hidden flex flex-col justify-center items-center bg-dark-grey gap-y-5 px-4 mt-8 py-7 md:mt-15 md:pt-15">
    <form class="flex flex-col gap-y-12.5 mb-8 md:w-111.25 md:mb-10 xl:w-277.5 xl:flex-row xl:justify-between xl:mb-12">
        <div class="flex flex-col gap-y-5 xl:w-111.25 xl:gap-y-10">
            <span class="text-preset-1 text-center xl:text-left">
                Contact
            </span>
            <p class="text-preset-4 text-center text-grey xl:text-left">
                Passionnée par le développement d'applications robustes et modernes, je suis ouverte à de nouvelles
                collaborations. Contactez-moi
            </p>
        </div>
        <div class="flex flex-col gap-y-8 xl:w-111.25">
            <input type="text" placeholder="NAME" name="name" required
                class="border-b border-grey h-10.75 pb-4 pl-4 focus:outline-none focus:border-b focus:border-green placeholder:text-grey" />
            <input type="email" placeholder="EMAIL" name="email" required
                class="border-b border-grey h-10.75 pb-4 pl-4 focus:outline-none focus:border-b focus:border-green placeholder:text-grey" />
            <textarea name="message" placeholder="MESSAGE" required
                class="border-b border-grey h-26.75 pl-4 focus:outline-none focus:border-b focus:border-green placeholder:text-grey"></textarea>
            <div class="flex justify-end">
                <button class="w-30 flex flex-col gap-y-2.5 cursor-pointer">
                    <p class="text-preset-3 hover:text-green">
                        ENVOYER
                    </p>
                    <div class="h-0.5 bg-green"></div>
                </button>
            </div>
        </div>
    </form>
    <div class="h-0.5 w-85.75 md:w-177.25 xl:w-277.5 bg-grey"></div>
    <div class="w-43.5 md:w-177.25 xl:w-277.5 flex justify-center">
        <div class="w-38.5 flex flex-col items-center gap-y-5 p-4
                   md:w-177.25 xl:w-360 md:flex-row justify-between">
            <include src="./components/socialNetworks.html"></include>
        </div>
        <img src="./assets/images/ovals-right.svg" class="absolute bottom-22 md:bottom-30 left-0" alt=""/>
    </div>
</div>