<header class=" w-43.5 h-95.75 pt-4">
    <div class="flex flex-col space-y-5 p-4 items-center">
        <span class="text-preset-2"> Elsa Sifoua</span>
        <div class="flex flex-row space-x-6.5">
            <a href="https://github.com/elsadse" target="_blank" rel="noopener noreferrer">
                <img src="../assets/images/github.svg" class="size-5" alt="icon github" />
            </a>
            <a href="https://www.linkedin.com/in/elsadse/" target="_blank" rel="noopener noreferrer">
                <img src="../assets/images/linkedIn.svg" class="size-5" alt="icon linkedIn" />
            </a>
        </div>
    </div>
</header>